<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <%- include('../partials/dependencies') %>
</head>

<body>
    <header>
        <% if(Role=="Admin" ){ %>
            <%- include('../partials/admin-header',{title:title}) %>
                <% }else if(Role=="Employee" ){ %>
                    <%- include('../partials/employee-header',{title:title}) %>
                        <%} if(Role=="Trainer" ){ %>
                            <%- include('../partials/trainer-header',{title:title}) %>
                                <%}%>
    </header>
    <section>

    </section>
    <div class="main_container d-flex justify-content-evenly" style="    align-items: center;
    flex-flow: wrap;
    height: 100dvh;">
        <div class="card w-25 m-2">
            <div class="card-body">
                <h5 class="card-title"><span>Total Users:<%= Total %></span></h5>
                <hr>
                <% for( let i=0; i < count.length; i++ ) { %>
                    <h5 class="card-subtitle mb-2 text-body-secondary"><%=count[i].role%>:&nbsp;<span>
                                <%= count[i].Count %>
                            </span></h5>
                    <% } %>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>