<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <%- include('../partials/dependencies') %>
</head>
<style>
</style>

<body>
    <header>
        <% if(Role=="Admin" ){ %>
            <%- include('../partials/admin-header',{title:title}) %>
                <% }else if(Role=="Employee" ){ %>
                    <%- include('../partials/employee-header',{title:title}) %>
                        <%} if(Role=="Trainer" ){ %>
                            <%- include('../partials/trainer-header',{title:title}) %>
                                <%}%>
    </header>
    <main class="main_container">
        <div class="d-flex w-100 justify-content-center align-items-center">
            <div class="input-group m-2 " style="width: max-content;">
                <input type="text" class="form-control rounded-end rounded-pill" placeholder="Enter Name/Employee-ID"
                    aria-label="Recipient's username" aria-describedby="FilterBtn" id="SearchBox">
                <button class="btn btn-success rounded-start rounded-pill" type="button" id="FilterBtn"><i
                        class="bi bi-search"></i></button>
            </div>
            <div>
                <button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#AddUserModal">
                    Add User <i class="bi bi-person-add"></i>
                </button>
            </div>
        </div>
        <div class="d-flex w-100">

            <table class="table table-hover rounded-3 overflow-hidden table-sm m-2 AVRTable">
                <thead class="table-dark ">
                    <tr class="text-center">
                        <th scope="col">Sl.No</th>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role<br>(Employee/Trainer)</th>
                        <th scope="col">Last Seen</th>
                        <th scope="col" colspan="2">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="content-area">
                    <% if (Object.values(Data).length>0) { %>
                        <% for( let index=0; index < Object.values(Data).length; index++ ) { %>
                            <tr>
                                <td>
                                    <%= index+1%>
                                </td>
                                <td>
                                    <%= Data[index].empId %>
                                </td>
                                <td><span id="name_<%=Data[index].empId %>"
                                        onclick="makeEditable('name_<%=Data[index].empId %>')">
                                        <%= Data[index].employeeName %>
                                    </span>
                                    <input type="text" class="form-control" id="input_name_<%=Data[index].empId %>"
                                        value="<%= Data[index].employeeName %>" style="display:none;width: 100%;">
                                </td>
                                <td>
                                    <span id="email_<%=Data[index].empId %>"
                                        onclick="makeEditable('email_<%=Data[index].empId %>')">
                                        <%= Data[index].email %>
                                    </span>
                                    <input type="text" class="form-control"  id="input_email_<%=Data[index].empId %>"
                                        value="<%= Data[index].email %>" style="display:none; width: 100%">
                                </td>
                                <td>
                                    <span id="role_<%=Data[index].empId %>"
                                        onclick="makeEditable('role_<%=Data[index].empId %>')">
                                        <%= Data[index].role %>
                                    </span>
                                    <select name="role" class="form-select" id="input_role_<%=Data[index].empId %>"
                                        style="display:none; width: 100%">
                                        <option value="Employee" <% if (Data[index].role=="Employee" ) { %>
                                            selected
                                            <% } %>>Employee
                                        </option>
                                        <option value="Trainer" <% if (Data[index].role=="Trainer" ) { %>
                                            selected
                                            <% } %> >Trainer
                                        </option>

                                    </select>
                                </td>
                                <td>
                                    <%= Data[index].newLastSeen %>
                                </td>
                                <td>
                                    <%= Data[index].Status %>
                                </td>
                                <td>
                                    <% if (Data[index].Status=="Inactive" ) { %>
                                        <button type="button" class="btn btn-success btn-sm ms-2 me-2"
                                            onclick="updateStatusAPI('<%= Data[index].empId %>','Active')"><i
                                                class="bi bi-check-circle-fill"></i></button>
                                        <% }else{ %>
                                            <button type="button" class="btn btn-danger btn-sm ms-2"
                                                onclick="updateStatusAPI('<%= Data[index].empId %>','Inactive')"><i
                                                    class="bi bi-x-circle"></i></button>
                                            <% } %>
                                </td>
                                <td><button type="button" class="btn btn-primary btn-sm"
                                        id="updateBtn_<%= Data[index].empId %>"
                                        onclick="updateUser('<%= Data[index].empId %>')"
                                        style="display:none;">Update</button></td>

                            </tr>
                            <% } %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="9">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                <symbol id="check-circle-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                </symbol>
                                                <symbol id="info-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                                </symbol>
                                                <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                </symbol>
                                            </svg>
                                            <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center"
                                                role="alert">
                                                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                                                    <use xlink:href="#info-fill" />
                                                </svg>

                                                <strong>Sorry...!😕</strong> Data not found.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="text-center">

                                            <a href="/login" class="btn btn-outline-primary rounded-pill"><i
                                                    class="bi bi-arrow-left-circle-fill"></i> Go Back To Home</a>
                                        </td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="AddUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AddUserModalLabel">Add User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/Admin/addUser" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="empIDInput" placeholder="empIDInput"
                                name="empId" required>
                            <label for="empIDInput">Employee ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nameinput" placeholder="nameinput"
                                name="employeeName" required>
                            <label for="nameinput">Full Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="emailInput" placeholder="emailInput"
                                name="email" required>
                            <label for="emailInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select id="roleInput" class="form-select" name="role" required>
                                <option value="">Select Role</option>
                                <option value="Trainer">Trainer</option>
                                <option value="Employee">Employee</option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/dependencies-js') %>
        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('Message');
            if (message) {
                alert(message);
                window.location.replace('/Admin/viewUsers')
            }

            function updateUser(id) {
                let { employeeName, email, role } = "";
                employeeName = document.getElementById(`input_name_${id}`).value;
                email = document.getElementById(`input_email_${id}`).value;
                role = document.getElementById(`input_role_${id}`).value;
                axios.post('/api/updateUserInfo',{
                    params:{
                        id:id,
                        employeeName:employeeName,
                        email:email,
                        role:role
                    }
                }).then(res=>{
                    if(res.status==200){
                        updateContentArea(res.data)
                    }
                }).catch(e=>{
                    console.log(e);
                    alert("Unable to Update User Info...\nPlease Contact Admin")
                })
            }
            function updateStatusAPI(id, newStatus) {
                axios.post('/api/updateUserStatus', {
                    params: {
                        id: id,
                        status: newStatus
                    }
                }).then(res => {
                    if (res.status == 200) {
                        updateContentArea(res.data);
                    }
                })
                    .catch(e => {
                        console.log(e);
                        alert("Unable to Update the Status...\nPlease Contact Admin");
                    })
            }

            function updateContentArea(data) {
                if (data.length > 0) {
                    $('#content-area').empty();
                    const table = document.getElementById("content-area");
                    for (let i = 0; i < data.length; i++) {
                        table.innerHTML += `<tr>
                                    <td>${i + 1}</td>
                                    <td>${data[i]["empId"]}</td>
                                    <td><span id="name_${data[i]["empId"]}"
                                        onclick="makeEditable('name_${data[i]["empId"]}')">
                                        ${data[i]["employeeName"]}
                                    </span>
                                    <input type="text" class="form-control" id="input_name_${data[i]["empId"]}"
                                        value="${data[i]["employeeName"]}" style="display:none;width: 100%;"></td>
                                    
                                    
                                    <td><span id="email_${data[i]["empId"]}"
                                        onclick="makeEditable('email_${data[i]["empId"]}')">
                                        ${data[i]["email"]}
                                    </span>
                                    <input type="text" class="form-control" id="input_email_${data[i]["empId"]}"
                                        value="${data[i]["email"]}" style="display:none;width: 100%;"></td>
                                    
                                    <td> <span id="role_${data[i]["empId"]}"
                                        onclick="makeEditable('role_${data[i]["empId"]}')">
                                        ${data[i]["role"]}
                                    </span>
                                    <select name="role" class="form-select" id="input_role_${data[i]["empId"]}"
                                        style="display:none; width: 100%">
                                        <option value="Employee" ${data[i]['role']=='Employee'?"selected":""}>Employee
                                        </option>
                                        <option value="Trainer" ${data[i]['role']=='Trainer'?"selected":""} >Trainer
                                        </option>

                                    </select></td>
                                    <td>${data[i]["newLastSeen"]}</td>
                                    <td>${data[i]["Status"]}</td>
                                    <td>
                                        ${data[i]["Status"] == "Inactive" ? `
                                        <button type="button" class="btn btn-success btn-sm ms-2 me-2"
                                            onclick="updateStatusAPI('${data[i]['empId']}','Active')"><i
                                                class="bi bi-check-circle-fill"></i></button>`: `
                                        <button type="button" class="btn btn-danger btn-sm ms-2"
                                            onclick="updateStatusAPI('${data[i]['empId']}','Inactive')"><i
                                                class="bi bi-x-circle"></i></button>`}
                                    </td>
                                    <td><button type="button" class="btn btn-primary btn-sm"
                                        id="updateBtn_${data[i]["empId"]}"
                                        onclick="updateUser('${data[i]["empId"]}')"
                                        style="display:none;">Update</button></td>`;
                    }
                }

            }
            $("#SearchBox").on("keydown", function (e) {
                if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
                    document.getElementById("FilterBtn").click()
                }
            });
            document.getElementById("FilterBtn").addEventListener('click', async (e) => {
                const Key = document.getElementById("SearchBox").value.replaceAll(" ", "");
                var regex = /^[0-9a-zA-Z\/-]+$/
                if (regex.test(Key)) {
                    axios.get('/api/GetUser', {
                        params: {
                            key: Key
                        }
                    }).then(res => {
                        if (res.status == 200) {
                            updateContentArea(res.data);
                        }
                    })
                        .catch(e => {
                            console.log(e);
                            alert("Unable to Find the User...\nPlease Check the Details or Contact Admin");
                        })
                } else {
                    document.getElementById("SearchBox").value = null;
                    alert("Special Characters are Not Allowed...!");
                }
            })
            function makeEditable(fieldId) {
                const span = document.getElementById(fieldId);
                const inputField = document.getElementById('input_' + fieldId);

                span.style.display = 'none';
                inputField.style.display = 'inline-block';
                inputField.value = span.innerText.trim();

                const updateBtn = document.getElementById('updateBtn_' + fieldId.split('_')[1]);
                updateBtn.style.display = 'block';
            }
        </script>
</body>

</html>